/*   style du corp de la page */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  background: #f3e9f1;
  height: 60px;
}
.logo {
  margin-right: auto;
  height: 60px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  display: inline-block;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ce9dc4;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  background: #f3e9f1;
  padding: 20px;
  text-align: center;
}
/*********************************  fin de  style du corp de la page */

main {
  margin: 5% 10%;
  max-width: 90%;
}
h3 {
  margin: 15px;
}

.blocProduit_text {
  min-width: 300px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}
.blocProduit_text p {
  padding-bottom: 5px;
}

.blocProduit {
  background: #f3e9f1;
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

#prixTotal {
  margin: 20px;
  padding: 10px;
  background: #f3e9f1;
  text-align: end;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.btnSupprimer {
  display: inline-block;
  padding: 5px 10px;
  transform: scale(1);
  transition: transform 0.3s;
  margin: 5px;
  cursor: pointer;
  position: relative;
  bottom: 60px;
  left: 85%;
  border: none;
}

.btnSupprimer:hover {
  transform: scale(1.1);
}
.btn_continuerAchats {
  margin: 20px;
  padding: 10px;
  background: #f3e9f1;
  text-align: center;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  box-shadow: 0px 0px 9px 0px rgb(50 50 50 / 20%);
  cursor: pointer;
}
.btn_continuerAchats:hover {
  box-shadow: 0px 0px 9px 0px rgb(50 50 50 / 50%);
}
.btn_continuerAchats a {
  text-decoration: none;
}

fieldset {
  max-width: 100%;
  background-color: #f3e9f1;
  border: 1px solid #999;
  padding: 3% 0;
  margin: 5px 0;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
form {
  margin: 20px;
  max-width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
form label {
  display: inline-block;
  text-align: right;
  background: #eee;
  min-width: 110px;
  text-align: center;
}
form input[type="submit"] {
  margin-left: 0px;
  font-size: 14px;
}
form input {
  width: 70%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  margin-left: 10px;
}
/* form input:focus {
  background: #ce9dc4;   
   
  } */
.envoiFormulaire {
  background: #f3e9f1;
  text-align: center;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  width: 100%;
  border: 1px solid #999;
  padding: 10px 0;
  cursor: pointer;
  transition: transform 0.3s;
}
.envoiFormulaire:hover {
  transform: scale(1.01);
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 50%);
}
.envoiFormulaireResponsive {
  display: none;
}

.box-shadow {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

@media screen and (max-width: 600px) {
  .blocProduit {
    display: flex;
    margin-bottom: 20px;
  }
  .blocProduit img {
    max-width: 150px;
  }

  .blocProduit_text {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  form input[type="submit"] {
    margin-left: 0px;
    font-size: 12px;
  }
}
