/*   style du corp de la page */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  background: #f3e9f1;
  height: 60px;
}
.logo {
  margin-right: auto;
  /* width: 150px; */
  height: 60px;
}
nav {
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  display: inline-block;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ce9dc4;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background: #f3e9f1;
  padding: 20px;
  text-align: center;
}


/*  fin de  style du corp de la page */

.produitListe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carteProduit {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 30px 5px;
  background: #f3e9f1;
  border: solid #f3e9f1 2px;
  box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  transition: transform 0.2s;
}

.carteProduit:hover {
  transform: scale(1.02);
}

.carteProduit h2 {
  font-size: 20px;
}

.div_img {
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.img {
  object-fit: cover;
  width: 250px;
}
.textProduit {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.textProduit a {
  text-decoration: none;
}
